table{
  width:75%;
  margin:20px auto;
}
table tr td, table tr{
  border-collapse: collapse;
  border:1px solid #ccc;
  font-size:14px;
}

.card-image{
  width: 200px;
}

.file-upload input[type="file"]{
  background-color: orange;
  color:white;
}
.btn-orange{
  padding-top: 10px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right:5px;
  background-color: orange;
  color: black;
  font-weight: 400;
  width: 15%;
}
